body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Center vertically */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;  /* Increased max-width for more space */
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* Added margin for better spacing */
}

label {
    font-size: 14px;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="file"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result,
#decryptionResult {
    display: none; /* Ensure results are hidden initially */
    margin-top: 20px;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

a.btn:hover {
    background-color: #0056b3;
}
